/* 
======================= 
Tabels of Code
1-RESET
2-HEADER AND NAVBAR
3-Glassphriom
4-Hero Section
=======================
*/

/* ================= RESET ================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ================= BODY ================= */
body {
  background-color: #000;
  font-family: Arial, sans-serif;
  color: #fff;
}

/* ================= HEADER AND NAVBAR ================= */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 100;
  margin: 1rem 0.5rem;
}

.logo,
.hamburger {
  padding: 1vh 2vw;
}

.logo img {
  width: 12vw;
  max-width: 9rem;
  min-width: 5.5rem;
  text-align: center;
}

/* ================= HAMBURGER ================= */

.hamburger i {
  font-size: 1.4rem;
  text-align: center;
  border-radius: 1vh;
  transition: 0.3s;
  z-index: 222;
}

nav {
  position: fixed;
  top: 10%;
  right: -100%;
  width: 50%;
  height: 100vh;
  background: linear-gradient(180deg, #000, #0f0f0f);
  padding: 12vh 5vw;
  transition: 0.4s ease-in-out;
}

nav.active {
  right: 0;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  gap: 5vh;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
  position: relative;
  transition: 0.3s;
}

nav ul li a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -1vh;
  width: 0%;
  height: 0.3vh;
  background-color: #aa14f0;
  transform: translateX(-50%);
  transition: 0.3s;
}

nav ul li a:hover {
  color: #aa14f0;
}

nav ul li a:hover::after {
  width: 100%;
}
/* ================ Glassphriom ===================== */
.bg-glow {
  position: absolute;
  top: -12vh;
  right: 59vw;
  width: 60vw;
  height: 60vw;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgba(174, 35, 238, 0.911),
    rgba(170, 20, 240, 0.15),
    transparent 70%
  );
  filter: blur(8vh);
  opacity: 0.9;
  z-index: -1;
}
/* ============== Hero Section =============== */
.hero .hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .hero-image img {
  width: 100vw;
}

.hero .hero-container {
  position: relative;
  bottom: 10em;
}
.hero .hero-stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
}
.hero .stat {
  flex-direction: column;
}

.hero .hero-stats h5 {
  font-size: 1.1rem;
}

.hero .hero-stats p {
  font-size: 0.9rem;
  font-weight: normal;
  margin-top: 0.3rem;
}

.hero .hero-container .hero-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  width: 60%;
  gap: 0.9rem;
}

.hero-text h2 {
  font-size: 1.7rem;
  width: 100%;
}
.hero-text h2 span {
  background: linear-gradient(90deg, #f86cf8 0%, #ac9ef6 51%, #64cef5 100%);

  -webkit-background-clip: text;
  background-clip: text;

  color: transparent;
  -webkit-text-fill-color: transparent;
}
.hero-text p {
  font-size: 0.89rem;
  line-height: 1.1rem;
}

.hero-buttons {
  min-width: 80vw;
}
.hero-buttons .btn {
  border: none;
  color: white;
  width: 25vw;
  height: 5vh;
  border-radius: 5px;
}

.hero-buttons .primary {
  background: linear-gradient(90deg, #d10ed1 0%, #844ad5 40%, #10a3da 100%);
}

.hero-buttons .outline {
  background: linear-gradient(#000, #000) padding-box,
    linear-gradient(90deg, #d10ed1 0%, #844ad5 40%, #10a3da 100%) border-box;
  margin-left: 0.8rem;
  border: 1px solid transparent;
}
